$base-font-size:    16px;
$sidebar-width:     remy(300px);
$sidebar-padding:   remy(37px);

$clr-white:         #fff;
$clr-cyan:          #8ebebc;
$clr-grey:          #888;

$body-bg:           $clr-white;
$sidebar-bg:        #222629;
$sidebar-color:     transparentize($clr-white, .5);
$active-menu-bg:    rgba(0,0,0, .15);
$active-icon-color: #e27689;
$section1-bg:       #81918e;
$section2-bg:       #f5fafa;
$section3-bg:       #e7eaea;
$section4-bg:       #dbe3e2;
$footer-bg:         #d0d9d8;
$figcaption:        #666;
$input-bg:          #f5f7f7;
$footer-shadow:     #c0c8c7;
