$base-font-size:    16px;
$sidebar-width:     remy(300px);
$sidebar-padding:   remy(37px);

$clr-white:         #fff;

$body-bg:           $clr-white;
$sidebar-bg:        #222629;
$sidebar-color:     transparentize($clr-white, .5);
